private
elpa
.custom.el
auto-save-list/
smex-items
transient/
emacs/elpy
emacs/recentf
emacs/url
projectile.cache
emacs/org-journal.cache
emacs/.cache/
emacs/.lsp-session-v1
emacs/session.*
emacs/tramp
emacs/projects
emacs/.mc-lists.el
emacs/eshell/
emacs/opam-user-setup.el
